/*
 * at91-sama5d27_som1_ek.dts - Device Tree file for SAMA5D27-SOM1-EK board
 *
 *  Copyright (c) 2017, Microchip Technology Inc.
 *                2016 Nicolas Ferre <nicolas.ferre@atmel.com>
 *                2017 Cristian Birsan <cristian.birsan@microchip.com>
 *                2017 Claudiu Beznea <claudiu.beznea@microchip.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */
/dts-v1/;
#include "at91-sama5d27_som1_ek_common.dtsi"
/ {
	model = "Atmel SAMA5D27 SOM1 EK";
	compatible = "atmel,sama5d27-som1-ek", "atmel,sama5d27-som1", "atmel,sama5d27", "atmel,sama5d2", "atmel,sama5";

	/delete-node/ chosen;

	chosen {
		 bootargs = "console=ttyS0,115200 earlyprintk root=/dev/mmcblk0p2 rw rootwait rootfstype=jffs2";
		 stdout-path = "serial0:115200n8";
	};

	ahb {
                /delete-node/ sdio-host@a0000000;
              /*  /delete-node/ sdmmc0; */
                
		apb {
                        pwm0: pwm@f802c000 {
                                pinctrl-names = "default";
                                pinctrl-0 = <&pinctrl_mikrobus2_pwm>;
                                status = "okay";
                        };
                         
			qspi1: spi@f0024000 {
		               pinctrl-names = "default";
		               pinctrl-0 = <&pinctrl_qspi1_default>;

		               /delete-node/ flash@0;

		               flash@0 {
		                       #address-cells = <1>;
		                       #size-cells = <1>;
		                       compatible = "jedec,spi-nor";
		                       reg = <0>;
		                       spi-max-frequency = <40000000>;
		                       m25p,fast-read;

		                       at91bootdtb@00000000 {
			               label = "at91bootdtb";
			               reg = <0x00000000 0x00020000>;
		                       };
                                       
		                       kernel@00020000 {
			               label = "kernel";
			               reg = <0x00020000 0x002e0000>;
		                       };
                                       
		                       rfs@00300000 {
			               label = "rfs";
			               reg = <0x00300000 0x00c00000>;
		                       };

		                       usrconfig@00f00000 {
			               label = "usrconfig";
			               reg = <0x00f00000 0x00100000>;
		                       };

		                       factory@001000000 {
			               label = "factory";
			               reg = <0x01000000 0x00c00000>;
		                       };

		               };
	                };

                        spi0: spi@f8000000 {
			      pinctrl-names = "default";
			      pinctrl-0 = <&pinctrl_spi0_default>;
			      status = "okay";
                              cs-gpios = <0>, <0>, <0>, <0>;

                              device@0 {
                                       compatible = "spidev";
			               spi-max-frequency = <1000000>;
			               reg = <0>;
			      };
                        };
		};
	};
};


