# dependencies
buildroot
download

# temp files
*.swp
*.swo
*.tmp

# build process
.br-external.mk
controlCardImage/.br-external.mk
controlCardImage/.config
controlCardImage/.config.old
controlCardImage/build
controlCardImage/host
controlCardImage/images
controlCardImage/staging
controlCardImage/target
controlCardImage/Makefile
sdCardImage/.br-external.mk
sdCardImage/.config
sdCardImage/.config.old
sdCardImage/board/microchip/sama5d2_som/rootfs-overlay/root/part1.img
sdCardImage/board/microchip/sama5d2_som/rootfs-overlay/root/part2.img
sdCardImage/board/microchip/sama5d2_som/rootfs-overlay/root/files.md5
sdCardImage/build
sdCardImage/host
sdCardImage/images
sdCardImage/staging
sdCardImage/target
sdCardImage/Makefile

# for personal note taking
*.notes
