# temp files
*.swp
*.swo
*.tmp
.vscode

# build process
/.br-external.mk
/buildArtifacts
/controlCardImage/.br-external.mk
/controlCardImage/.config
/controlCardImage/.config.old
/controlCardImage/board/microchip/sama5d2_som/rootfs-overlay/root/.cgminer/cgminer.conf
/controlCardImage/board/microchip/sama5d2_som/rootfs-overlay/usr/sbin/apiserver
/controlCardImage/board/microchip/sama5d2_som/rootfs-overlay/usr/sbin/cgminer
/controlCardImage/board/microchip/sama5d2_som/rootfs-overlay/usr/sbin/gpio_init
/controlCardImage/board/microchip/sama5d2_som/rootfs-overlay/usr/sbin/led_alternate
/controlCardImage/board/microchip/sama5d2_som/rootfs-overlay/usr/sbin/led_flash_green
/controlCardImage/board/microchip/sama5d2_som/rootfs-overlay/usr/sbin/led_flash_red
/controlCardImage/board/microchip/sama5d2_som/rootfs-overlay/var
/controlCardImage/build
/controlCardImage/host
/controlCardImage/images
/controlCardImage/staging
/controlCardImage/target
/controlCardImage/Makefile
/buildArtifacts/downloads
/images
/sdCardImage/.br-external.mk
/sdCardImage/.config
/sdCardImage/.config.old
/sdCardImage/board/microchip/sama5d2_som/rootfs-overlay/root/part1.img
/sdCardImage/board/microchip/sama5d2_som/rootfs-overlay/root/part2.img
/sdCardImage/board/microchip/sama5d2_som/rootfs-overlay/root/part3.img
/sdCardImage/board/microchip/sama5d2_som/rootfs-overlay/root/files.md5
/sdCardImage/board/microchip/sama5d2_som/rootfs-overlay/usr/sbin/flash_check
/sdCardImage/board/microchip/sama5d2_som/rootfs-overlay/usr/sbin/led_alternate
/sdCardImage/board/microchip/sama5d2_som/rootfs-overlay/usr/sbin/led_erase_error
/sdCardImage/build
/sdCardImage/host
/sdCardImage/images
/sdCardImage/staging
/sdCardImage/target
/sdCardImage/Makefile
/src/apiserver/src/*.o
/src/apiserver/src/*/*.o
/src/apiserver/.depend
/src/cgminer/cgminer
/src/cgminer/confdefs.h
/src/cgminer/aclocal.m4
/src/cgminer/configure
/src/cgminer/config.h
/src/cgminer/config.h.in
/src/cgminer/config.h.in~
/src/cgminer/config.log
/src/cgminer/config.status
/src/cgminer/conftest.c
/src/cgminer/conftest.err
/src/cgminer/Makefile
/src/cgminer/Makefile.in
/src/cgminer/obelisk-model.h
/src/cgminer/*.o
/src/cgminer/.deps
/src/cgminer/autom4te.cache/
/src/cgminer/ccan/Makefile
/src/cgminer/ccan/*.a
/src/cgminer/ccan/opt/.deps/
/src/cgminer/ccan/opt/*.o
/src/cgminer/compat/Makefile
/src/cgminer/compat/jansson-2.9/aclocal.m4
/src/cgminer/compat/jansson-2.9/configure
/src/cgminer/compat/jansson-2.9/jansson_private_config.h
/src/cgminer/compat/jansson-2.9/jansson_private_config.h.in~
/src/cgminer/compat/jansson-2.9/Makefile
/src/cgminer/compat/jansson-2.9/Makefile.in
/src/cgminer/compat/jansson-2.9/autom4te.cache/
/src/cgminer/compat/jansson-2.9/config.log
/src/cgminer/compat/jansson-2.9/config.status
/src/cgminer/compat/jansson-2.9/doc/Makefile
/src/cgminer/compat/jansson-2.9/libtool
/src/cgminer/compat/jansson-2.9/src/.deps/
/src/cgminer/compat/jansson-2.9/src/.libs/
/src/cgminer/compat/jansson-2.9/src/Makefile
/src/cgminer/compat/jansson-2.9/src/*.la
/src/cgminer/compat/jansson-2.9/src/*.lo
/src/cgminer/compat/jansson-2.9/src/*.o
/src/cgminer/compat/jansson-2.9/test/Makefile
/src/cgminer/compat/jansson-2.9/test/bin/Makefile
/src/cgminer/compat/jansson-2.9/test/suites/Makefile
/src/cgminer/compat/jansson-2.9/test/suites/api/Makefile
/src/cgminer/lib/Makefile
/src/cgminer/lib/.deps/
/src/cgminer/lib/*.a
/src/cgminer/lib/*.o
/src/cgminer/obelisk/.deps/
/src/cgminer/obelisk/.dirstamp
/src/cgminer/obelisk/*.o
/src/cgminer/obelisk/dcrhash/bin/
/src/cgminer/obelisk/dcrhash/obj/
/src/cgminer/obelisk/dcrhash/.deps/
/src/cgminer/obelisk/dcrhash/.dirstamp
/src/cgminer/obelisk/dcrhash/*.o
/src/cgminer/obelisk/persist/.deps/
/src/cgminer/obelisk/persist/.dirstamp
/src/cgminer/obelisk/siahash/bin/
/src/cgminer/obelisk/siahash/obj/
/src/cgminer/obelisk/siahash/.deps/
/src/cgminer/obelisk/siahash/.dirstamp
/src/cgminer/obelisk/siahash/*.o
/src/controlCardUtils/bin
/src/controlCardUtils/obj
/src/sdCardUtils/bin
/src/sdCardUtils/obj
/src/webclient/build
/src/webclient/node_modules
/src/webclient/yarn.lock

# for personal note taking
*.notes
*.o
upgrade
src/upgrades/releases
src/ee2mac/bin
src/hello
src/obconfig/node_modules
